{% extends 'base.html' %}

{% block intro %}
    <section id="intro" class="bg-dotted-red">
        <div class="container jumbotron text-center my-0">
            <h1 class="display-4 san-big">Kolgotka.kz</h1>
            <p>Интернет магазин колготок</p>
        </div>
    </section>
{% endblock intro %}

{% block top-level-category %}
    <section id="top-level-category" class="bg-dotted-red">
        <nav class="container">
          <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="#!">Классические</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Колготки с рисунком</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Чулки</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Чулки с рисунком</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Теплые коглотки</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Большие размеры</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Гольфы и носки</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!">Бельё</a>
              </li>
          </ul>
        </nav>
    </section>
{% endblock top-level-category %}

{% block brands %}
    <section id="brands" >
        <div class="container">
            <div class="my-3">
                <h2>Наши любимые бренды</h2>
            </div>
            
            <div class="card-columns">
                <div class="card brand-card">
                    <a href="#">
                        <img class="card-img " src="/static/images/brand_levante.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="brand-card-text">LEVANTE</h2>
                        </div>
                    </a>
                </div>
                <div class="card brand-card">
                    <a href="#">
                        <img class="card-img " src="/static/images/brand_filodoro.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="brand-card-text">FILODORO</h2>
                        </div>
                    </a>
                </div>
                <div class="card brand-card">
                    <a href="#">
                        <img class="card-img " src="/static/images/brand_glamour.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="brand-card-text">GLAMOUR</h2>
                        </div>
                    </a>
                </div>
                <div class="card brand-card">
                    <a href="#">
                        <img class="card-img " src="/static/images/brand_omsa.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="brand-card-text">OMSA</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock brands %}

{% block content %}
    {% for post in object_list %}
        <div class="post-entry">
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}

{% block product-list %}
<section id="" class="my-3">
    <div class="container">
        <h2 class="display-5">Купить Колготки</h2>
        <p>Итальянские колготки</p>
        <div class="row">
            {% for product in products %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="card ">
                        <div class="card-body">
                            
                            <div class="product-image small">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="card-img-top"
                                         src="
                                            {% if product.image %}
                                                {{ product.image.url }} 
                                            {% else %}
                                                /static/images/product-image.jpg
                                            {% endif %}
                                            " alt="{{ product.name }}
                                            ">
                                </a>
                            </div>

                            <div class="product-brand small mt-1">Levante</div>

                            <div class="product-name font-weight-bold">
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </div>

                            <div class="product-price"><i class="fas fa-tenge"></i> {{ product.price }}</div>
                            <div class="product-size text-monospace">S M L XL XXL</div>
                            <div class="product-color d-flex justify-content-start small text-center">
                                <div class="product-color-item bg-primary rounded-circle">B</div>
                                <div class="product-color-item bg-info rounded-circle">I</div>
                                <div class="product-color-item bg-danger rounded-circle">R</div>
                            </div>
                            <div class="product-promo small font-italic text-red">Купи 3 - получи 15% скидки!</div>
                            <div class="btn-group mt-1">
                                <button class="btn bg-red text-white">O</button>
                                <button class="btn bg-black text-whsm">Купить</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}            
        </div>
        <hr/>
    </div>
</section>
{% endblock product-list %}