{% extends "base.html" %}

{% block top-level-category %}
    <section id="top-level-category" class="bg-dotted-red">
        <nav class="container">
          <ul class="nav justify-content-center">

              <li 
                {% if not category %}
                    class="nav-item font-weight-bold"
                {% endif %}>
                <a class="nav-link" href="{% url 'shop:product_list' %}">Все</a>
              </li>

              {% for c in categories %}


              <li 
                {% if category.slug == c.slug %}
                    class="nav-item font-weight-bold"
                {% endif %}>
                <a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>

              {% endfor %}
              
          </ul>
        </nav>
    </section>
{% endblock top-level-category %}

{% block product-list %}
<section id="" class="my-3">
    <div class="container">
        <h2 class="display-5">Купить Колготки</h2>
        <p>Итальянские колготки</p>
        <div class="row">
            {% for product in products %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="card ">
                        <div class="card-body">
                            
                            <div class="product-image small">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="card-img-top"
                                         src="
                                            {% if product.image %}
                                                {{ product.image.url }} 
                                            {% else %}
                                                /static/images/product-image.jpg
                                            {% endif %}
                                            " alt="{{ product.name }}
                                            ">
                                </a>
                            </div>

                            <div class="product-brand small mt-1">Levante</div>

                            <div class="product-name font-weight-bold">
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </div>

                            <div class="product-price"><p><i class="fas fa-tenge"></i> {{ product.price }}</p></div>
                            <div class="product-size text-monospace">S M L XL XXL</div>
                            <div class="product-color d-flex justify-content-start small text-center">
                                <div class="product-color-item bg-primary rounded-circle">B</div>
                                <div class="product-color-item bg-info rounded-circle">I</div>
                                <div class="product-color-item bg-danger rounded-circle">R</div>
                            </div>
                            <div class="product-promo small font-italic text-red">Купи 3 - получи 15% скидки!</div>
                            <div class="btn-group mt-1">
                                <button class="btn bg-red text-white">O</button>
                                <button class="btn bg-black text-whsm">Купить</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}            
        </div>
        <hr/>
    </div>
</section>
{% endblock product-list %}